* {
  padding: 0;
}

.nav-bar {
  background: linear-gradient(to left, #22fd59, #159c09, #0b5e00);
  height: 7.75vh;
  width: 100%;
  padding: 0;
  color: #e3ff00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 4vh;
}

.logo:hover {
  cursor: pointer;
}

.pages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65vh;
  font-size: 2vh;
}

.pages div {
  transition: 0.4s ease;
}

.pages div:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.pages a,
.logo a {
  text-decoration: none;
  color: #e1ff00;
}
